!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ExampleTwoFactorAuth
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %section
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }
      %section.mt-10
        %p.notice= notice
        %p.alert= alert
    = yield